html, body {
    margin: 0;
    padding: 0;
    background-color: #343541;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
} 

.header {
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    padding: 10px;
    display: flex;
}

.hamburger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding-top: 5px;
    color: white;
    font-weight: 100;
    visibility: hidden;
    text-align: left;
}

.wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.menu {
    width: 300px;
    height: 100%;
    background-color: #202123;
    color: white;
    padding: 15px;
    overflow: overlay;
    z-index: 3;
    transition: 0.3s ease;
}

.menu-header {
    display: flex;
}

.close-menu {
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 0;
    left: 0;
    font-size: 10px;
    padding-top: 5px;
    color: white;
    font-weight: 100;
    visibility: hidden;
    position: absolute;
}

.draw-area-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.draw-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

.editor-area {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.editor {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.clear {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding-right: 15px;
    padding-top: 4px;
    color: white;
    font-weight: 100;
}

.run-btn {
    background-color: transparent;
    color:#9ca2ff;
    border: none;
    cursor: pointer;
    box-shadow: 1px 0px 44px -12px rgba(0,0,0,0.75);
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

.code-container {
    display: flex;
    background-color: #444552;
    box-shadow: 1px 0px 44px -12px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 60%;
    height: 50px;
}

.code-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 15px;
    font-size: 18px;
}

.code-input:focus {
    outline: none;
}

.error-msg {
    color: #ff0000;
    text-align: center;
    font-size: medium;
}

.commands-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.command {
    width: 90%;
    color: white;
    background-color: #25252b;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.command-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.command-text {
    font-size: 14px;
}

#robot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px)  {
    .close-menu  {
        visibility: visible;
        position: relative;
    }

    .hamburger {
        visibility: visible;
        position: relative;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .menu {
        position: absolute;
        left: -330px;
    }

    .menu.active {
        left: 0px !important;
    }
}

/* Scrollbar */
* {
scrollbar-width: none;
scrollbar-color: #313030 #202123;
}

*::-webkit-scrollbar {
width: 10px;
}

*::-webkit-scrollbar-track {
background: #202123;
}

*::-webkit-scrollbar-thumb {
background-color: #313030;
border-radius: 12px;
}