html, body {
    margin: 0;
    padding: 0;
    background-color: #343541;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.container {
    display: flex;
    flex-grow: 0;
    width: 100%;
    height: 100%;
}

.menu {
    background-color: #202123;
    flex-basis: 800px;
}

.draw-area-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.draw-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

.editor-area {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    z-index: 2;
}

.clear {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding-right: 15px;
    padding-top: 4px;
    color: white;
    font-weight: 100;
}

.run-btn {
    background-color: transparent;
    color:#9ca2ff;
    border: none;
    cursor: pointer;
    box-shadow: 1px 0px 44px -12px rgba(0,0,0,0.75);
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

.code-container {
    display: flex;
    background-color: #444552;
    box-shadow: 1px 0px 44px -12px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 60%;
    height: 50px;
}

.code-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 15px;
    font-size: 18px;
}

.code-input:focus {
    outline: none;
}

#robot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}