html, body {
    margin: 0;
    padding: 0;
    background-color: #202225;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
} 

.draw-area-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.draw-area {
    width: 100%;
}

.editor-area {
    width: 100%;
}